.footer {
margin: 19px 60px 60px;

  &__nav {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 8px;
    background: #ffffff;
    padding: 30px 0 40px 67px;
    display: flex;
    column-gap: 50px;
  }
  &__title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #0c1014;
  }
  &__info {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #515759;
    margin:8px 0 21px ;
  }
  &__list{
    display: flex;
    column-gap: 30px;
    color:#1890FF;
    font-size: 30px;
  }
  &__item{
    margin-top: 8px;
  }
}
